---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
<section class='hero flow'>
	<h3 class="name">Hi, I'm Laurie.</h3>
	<h1 class='hero-title'>I make modern, responsive websites.</h1>
	<p>I'm a frontend developer who builds websites using HTML, CSS and a few other tools listed below. Take a look at my featured projects or find more on GitHub.</p>
	{# <p>Thanks to Max Bock, Kevin Powell and Camilo Garcia for inspiration for this website.</p> #}
	<div class="hero-link">
		<a class="primary-cta" href='mailto:joyfulnoiseforyahshua@gmail.com'>Get In Touch</a>
	</div>
</section>

<section class="about flow">
	<h1>About Me</h1>
	<p>I’m a Frontend developer who builds modern, responsive websites using HTMl, CSS and just enough JavaScript.  I also use static-site generators 11ty and Astro to build content-driven websites.</p>
	<h2>Tools I Use:</h2>
	<ul class="skills">
		{% for skill in skills %}
		<li class="skills-list-item">
			<img src={{ skill.icon}} alt={{ skill.name }} width="64" height="64">
		</li>
		{% endfor %}
	</ul>
</section>

<section class="services flow">
	<h1>Services</h1>
	<p>I can take your project from style guide to completion and launch them with ease.</p>
	<ul class="services-list">
		{% for service in services %}
		<li class="services-list-item">
			<img src={{ service.icon }} alt={{ service.name }}>
			<h2 class="service-title">{{ service.name }}</h2>
			<p class="service-text">{{ service.description}}</p>
		</li>
		{% endfor %}
	</ul>
</section>

<section class='projects flow'>
<h1 class='projects-title'>Featured Projects</h1>
<div class="projects-container">
		<ul class='projects-list'>
			{% for item in github %}
				{% if item.featured == true %}
				<li class='project-list-item'>
					<div class='project'>
						<div class='project-links'>
							<h2 class='project-title'>{{ item.name }}</h2>
							<a href="{{ item.repository }}" class='project-link' ><box-icon type='logo' name='github' color=var(--clr-primary)></box-icon></a>
							<a href="{{ item.site }}" class='project-link'><box-icon name='link-external' color=var(--clr-primary) ></box-icon></a>
						</div>
						<img src="{{ item.image }}" alt="frontend-mentor" class="project-image">
					</div>
				</li>
				{% endif %}
		{% endfor %}
		</ul>
		</div>
		<a href="https://github.com/lauriejefferson/frontend-mentor-solutions">See All Projects</a>
</section>

<section class='contact flow'>
	<h1 class='contact-title'>Let's Work Together</h1>
	<p class='contact-text'>Have a project in mind? Want to discuss opportunities with your organization? Let's discuss.</p>
	<div class="contact-link">
		<a class='secondary-cta' href='mailto:joyfulnoiseforyahshua@gmail.com'>Contact Me</a>
	</div>
</section>

