---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
<section class='hero'>
	<h1 class='hero-title'>I make modern, responsive websites.</h1>
	<p>I'm a frontend developer who builds websites using HTML, CSS and a few other tools listed below. Take a look at a few of my featured projects or find more on GitHub.</p>
	<p>Thanks to Max Bock, Kevin Powell and Camilo Garcia for inspiration for this website.</p>
	<a class="primary-cta" href='/'>Get In Touch</a>
</section>

<section class='projects'>
<h1 class='projects-title'>Featured Projects</h1>
		<ul class='projects-list'>
			{% for item in github %}
				{% if item.featured == true %}
				<li class='project-list-item'>
					<div class='project'>
						<div class='project-links'>
							<h2 class='project-title'>{{ item.name }}</h2>
							<a href="{{ item.repository }}" class='project-link' ><box-icon type='logo' name='github' color=var(--clr-primary)></box-icon></a>
							<a href="{{ item.site }}" class='project-link'><box-icon name='link-external' color=var(--clr-primary) ></box-icon></a>
						</div>
						<img src="{{ item.image }}" alt="frontend-mentor" class="project-image">
					</div>
				</li>
				{% endif %}
		{% endfor %}
		</ul>
</section>
<section class='skills'>
<h1 class="skills-title">Skills</h1>
<ul class="skills-list">
	{% for skill in skills %}
	<li class="skills-list-item">
		<h2 class="skill-name"></h2>
		<div class="skill-logos">
			<div class="skill-logo"></div>
		</div>
	</li>
	{% endfor %}
</ul>
</section>
<section class='contact'>
	<h1 class='contact-title'>Let's Work Together</h1>
	<p class='contact-text'>Have a project in mind? Want to discuss opportunities with your organization? Let's discuss.</p>
	<a class='secondary-cta' href='/'>Contact Me</a>
</section>

