<footer>
	<p>Built with <a href="https://www.11ty.dev/" class="eleventy-link">{{ eleventy.generator }}</a></p>
	<div class='footer-links'>
		<div class="github">
			<a href="https://github.com/lauriejefferson"><box-icon name='github' type='logo' color='#002626' ></box-icon></a>
		</div>
		<div class="linkedin">
			<a href="https://www.linkedin.com/in/laurie-jefferson"><box-icon name='linkedin' type='logo' color='#002626' ></box-icon></a>
		</div>
	</div>
</footer>
