<footer>
	<p>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></p>
	<div class='footer-links'>
		<div class="github">
		</div>
		<div class="linkedin">
		</div>
	</div>
</footer>
