	{# <a href="#skip" class="visually-hidden">Skip to main content</a> #}
		<header>
			<div class="home">
				<a href="/" class="home-link">{{ metadata.author.name }}</a>
			</div>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			{# <nav>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav> #}
		</header>
