<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		{# <a href="#skip" class="visually-hidden">Skip to main content</a> #}
		<header>
			<div class="home">
				<a href="/" class="home-link">{{ metadata.title }}</a>
			</div>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				{# <h2 class="visually-hidden">Top level navigation menu</h2> #}
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip" class="main">
				{{ content | safe }}
		</main>
		<footer>
			<p><em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em></p>
			<div class='footer-links'>
				<div class="github">
				</div>
				<div class="linkedin">
				</div>
			</div>
		</footer>
			<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
	</body>
</html>
