@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* makes sizing simpler */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
	/* color-scheme: dark light; */
	hanging-punctuation: first last;
}

/* min body height */
body {
	min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
	max-width: var(--p-max-width, 65ch);
	text-wrap: pretty;
}

:root {

	--clr-primary: hsl(34, 37%, 96%);
	--clr-secondary: hsl(180, 100%, 7%);
	--clr-accent: hsl(20, 85, 49);

	--ff-body: "PT Sans", serif;
	--ff-header: "Open Sans", serif;

	--fs-200: clamp(0.6944rem, 0.6577rem + 0.1836vw, 0.8rem);
	--fs-300: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);
	--fs-400: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
	--fs-500: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
	--fs-600: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
	--fs-700: clamp(1.728rem, 1.4799rem + 1.2407vw, 2.4414rem);
	--fs-800: clamp(2.0736rem, 1.7334rem + 1.7011vw, 3.0518rem);
	--fs-900: clamp(2.4883rem, 2.027rem + 2.3067vw, 3.8147rem);

	--fw-300: 400;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--fw-800: 800;

	--header-1: var(--fs-900);
	--header-2: var(--fs-800);
	--header-3: var(--fs-700);
	--header-4: var(--fs-600);
	--header-5: var(--fs-500);
	--fs-body: var(--fs-400);

}

body {
	font-family: var(--ff-body);
	background-color: var(--clr-primary);
	color: var(--clr-secondary);
	display: grid;
	grid-template-columns: min(1440px, 100% - 2rem);
	place-items: center;

}

h1, h2, h3 {
	font-family: var(--ff-header);
	font-weight: var(--fw-700);
	letter-spacing: 5px;
}

ul {
	list-style-type: none;
}

section {
	display: grid;
}